.container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
  }
  

  .form {
    display: flex;
    padding-top: 6px;
  }


    
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
  }