<div class="container">
<h1 mat-dialog-title> {{ data.title }}</h1>

<form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  <mat-card>
    <mat-card-content>
<div class="form">

  <mat-form-field color="accent">
    <input matInput  required name="description" [(ngModel)]="data.description" required placeholder="Description" >
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>

<div class="form">
  <label class="isactive-radio-label" for="isActive">Is Active</label>
   <mat-radio-group color="accent" name="isActive_radio_group" [(ngModel)]="data.isActive">
   <mat-radio-button class="isactive-radio-button" name="isActive"  [value]="true">True</mat-radio-button>
     <mat-radio-button class="isactive-radio-button" name="isActive"   [value]="false">False</mat-radio-button>
   </mat-radio-group>
 
 </div>


<!-- Only visible to the citations attribute-->
<div class="form">   
  <mat-form-field color="accent" *ngIf="data.attribute=='citations'">
    <input matInput  required name="citationId" [(ngModel)]="data.citationId"  required placeholder="Citation Id"  >
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>

<!-- Only visible to the content Sub Type attribute -->
<div class="form">    
  <mat-form-field color="accent" *ngIf="data.attribute=='types'">
    <mat-select placeholder="Content Type" required [(ngModel)]="contentTypeId"  name="contenttype">
      <mat-option *ngFor="let contenttype of data.contentTypes" [value]="contenttype.id" >
        {{contenttype.description}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>


<!-- Only visible to the content Types & Content Sub Type Attributes -->
<div class="form">       
<mat-form-field color="accent" *ngIf="data.attribute=='contentTypes' || data.attribute == 'types'">
   <mat-select placeholder="Template Types" required [(ngModel)]="templateId"  name="templateType">
     <mat-option *ngFor="let template of data.templateTypes" [value]="template.id" >
        {{template.description}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
</div>



<!-- Only visible to the Synonym Attribute -->
<div class="form">    
  <mat-form-field color="accent" *ngIf="data.attribute=='synonyms'">
    <mat-select placeholder="Topics" required [(ngModel)]="topicId"  name="topics">
      <mat-option *ngFor="let topics of data.topics" [value]="topics.id" >
        {{topics.description}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>


<!-- Only visible to the FileTypes Attribute -->
<div class="form">    
<mat-form-field color="accent" *ngIf="data.attribute == 'fileTypes'">
  <input matInput  required name="extension" [(ngModel)]="data.extension" required placeholder="Extension" >
  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
</div>




<div mat-dialog-actions>

  <button mat-button [mat-dialog-close]="data.description" mat-raised-button color="accent" (click)="onAdd()" [disabled]="!formControl.valid">Add</button>
  <button mat-button (click)="onCancel()" mat-raised-button color="accent" >Cancel</button>
</div>
</mat-card-content>
</mat-card>
</form>

</div>