<div *ngIf="!results" class="spinner-class">
    <mat-spinner ></mat-spinner>
</div>
<div *ngIf="results">
  <mat-card>
    <mat-card-header>
      <mat-card-title  color="accent">
        {{firstLetterUpperCase(this.attribute)}}    
      </mat-card-title>
      
    </mat-card-header>
    <mat-card-content >
        <div class="mat-elevation-z8">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" >
          </mat-form-field>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elavation-z8">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="app-generic-table-th"> Id </th>
                <td mat-cell *matCellDef="let entity"> {{entity.id}} </td>
              </ng-container>
          
            
           
              <ng-container matColumnDef="description" *ngIf="attribute != 'citations'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header  class="app-generic-table-th" > Description </th>
                <td mat-cell *matCellDef="let entity" > {{entity.description}} </td>
              </ng-container>


              <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header  class="app-generic-table-th" > IsActive </th>
                <td mat-cell *matCellDef="let entity" > {{entity.isActive}} </td>
              </ng-container>


              <ng-container matColumnDef="modifybutton">
                  <th mat-header-cell *matHeaderCellDef class="card-mat-table-data-button">
                    
                      <button mat-icon-button color="primary"   class="mat-elevation-z1" (click)="openDialog()">
                          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                        </button>
                  </th>
                <td mat-cell *matCellDef="let row : let i=index" class="card-mat-table-data-button">
                    <button mat-icon-button color="accent" (click)="openEditDialog(row)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                      </button>
                </td>
              </ng-container>


               <!-- Start of attributes specific to Citations -->

              <ng-container matColumnDef="citationid" *ngIf="attribute == 'citations'">
                <th mat-header-cell *matHeaderCellDef class="app-generic-table-th"> Citation Id </th>
                <td mat-cell *matCellDef="let citation">
                   {{citation.cfrId}} </td>
              </ng-container>

              <ng-container matColumnDef="effectivedate" *ngIf="attribute == 'citations'">
                <th mat-header-cell *matHeaderCellDef class="app-generic-table-th"> Effective Date </th>
                <td mat-cell *matCellDef="let citation">
                   {{citation.effectivedate}} </td>
              </ng-container>

              <ng-container matColumnDef="title" *ngIf="attribute == 'citations'">
                <th mat-header-cell *matHeaderCellDef class="app-generic-table-th"> Title </th>
                <td mat-cell *matCellDef="let citation">
                   {{citation.title}} </td>
              </ng-container>

              <ng-container matColumnDef="alttitle" *ngIf="attribute == 'citations'">
                <th mat-header-cell *matHeaderCellDef class="app-generic-table-th"> Alt Title </th>
                <td mat-cell *matCellDef="let citation">
                   {{citation.alttitle}} </td>
              </ng-container>

               <!-- End of attributes specific to Citations-->

                <!-- Start of attributes specific to File Types-->

              <ng-container matColumnDef="extension" *ngIf="attribute == 'fileTypes'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="app-generic-table-th"> Extension </th>
                <td mat-cell *matCellDef="let filetypes"> {{filetypes.extension}} </td>
              </ng-container>

               <!-- End of attributes specific to File Types-->
          
                <!-- Start of attributes specific to Synoyms-->

              <ng-container matColumnDef="topic" *ngIf="attribute == 'synonyms'">
                <th mat-header-cell *matHeaderCellDef  class="app-generic-table-th" > Topic </th>
                <td mat-cell *matCellDef="let synonymn">
                   {{getTopicName(synonymn.topicId)}} </td>
              </ng-container>

              <!-- End of attributes specific to Synoyms-->

               <!-- start of attributes specific to Content Types -->

              <ng-container matColumnDef="templateType" *ngIf="attribute =='contentTypes'">
                <th mat-header-cell *matHeaderCellDef class="app-generic-table-th"> Template Type </th>
                <td mat-cell *matCellDef="let contenttype">
                   {{getTemplateName(contenttype.templateId)}} </td>
              </ng-container>

               <!-- End of attributes specific to Content Types -->


            
            <!-- start of attributes specific to  Types -->

            <ng-container matColumnDef="contentType" *ngIf="attribute == 'types'">
              <th mat-header-cell *matHeaderCellDef class="app-generic-table-th"> Content Type </th>
              <td mat-cell *matCellDef="let type"> {{getContentTypeName(type.contentId)}} </td>
            </ng-container>

          <ng-container matColumnDef="templateType" *ngIf="attribute == 'types'">
            <th mat-header-cell *matHeaderCellDef class="app-generic-table-th"> Template Type </th>
            <td mat-cell *matCellDef="let type"> {{getTemplateName(type.templateId)}} </td>
          </ng-container>

            <!-- End of attributes specific to Types -->

          


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row   *matRowDef="let row; columns: displayedColumns;" class="card-mat-table-data" ></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
          </div>
         
    </mat-card-content>
  </mat-card>
 
        
  
</div> 