

.flex-container{
  display: flex;
  flex-flow: row wrap;
  // flex-direction: row;
 //  flex-wrap: wrap;
 
   justify-content: space-evenly;
 }
 
 .flex-item {
   margin-top: 5px;
 min-width: 30%;
   text-align : center;
  max-width: 100%;
  max-height: 100%;
  line-height: 150px;
   background-color : gray;
   flex-basis: 0 0 auto;
   align-self: auto;
   margin-top: 5px;
 }
 
 @media (max-width: 1200px) {
   .flex-item {
     min-width: 33.33%; 
   }
 }