
    
    <div class="flex-container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutGap.xs="0">
    
        <div class="flex-item" [routerLink]="['/dataapp/Areas']">Areas </div>
        <div class="flex-item" [routerLink]="['/dataapp/SubAreas']">Sub Areas</div>
        <div class="flex-item" [routerLink]="['/dataapp/Citations']">Citations</div>
    </div>
    <div class="flex-container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutGap.xs="0">
        <div class="flex-item" [routerLink]="['/dataapp/ContentTypes']">Content Types</div>
        <div class="flex-item" [routerLink]="['/dataapp/Industry']">Industry</div>
        <div class="flex-item" [routerLink]="['/dataapp/Products']">Products</div>
    </div>
    <div class="flex-container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutGap.xs="0">
     <div class="flex-item" [routerLink]="['/dataapp/GoverningBodies']">Governing Bodies</div>
    <div class="flex-item" [routerLink]="['/dataapp/ContentSubTypes']">Content Sub Types</div>
    <div class="flex-item" [routerLink]="['/dataapp/Geographies']">Geographies</div>
    </div>
    <div class="flex-container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutGap.xs="0">
    <div class="flex-item" [routerLink]="['/dataapp/Synonyms']">Synonyms</div>
    <div class="flex-item" [routerLink]="['/dataapp/TemplateTypes']">Template Types</div>
    <div class="flex-item"></div>
    </div>