
    
    <div class="flex-container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutGap.xs="0">
    
        <div class="flex-item" [routerLink]="['/dataapp/Areas']">Areas </div>
        <div class="flex-item">Sub Areas</div>
        <div class="flex-item">Citations</div>
    </div>
    <div class="flex-container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutGap.xs="0">
        <div class="flex-item">Content Types</div>
        <div class="flex-item">Industry</div>
        <div class="flex-item">Products</div>
    </div>
    <div class="flex-container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutGap.xs="0">
     <div class="flex-item">Governing Bodies</div>
    <div class="flex-item">Content Sub Types</div>
    <div class="flex-item">Geographies</div>
    </div>
    <div class="flex-container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutGap.xs="0">
    <div class="flex-item">Synonyms</div>
    <div class="flex-item">Template Types</div>
    </div>